.weather_container {
  // font-size: 16px;
  line-height: 22px;

  .title {
    color: var(--color-text-info);
  }

  .today_temp {
    font-size: 72px;
    line-height: 72px;
    font-weight: 600;
    color: var(--color-text-main);
  }

  .high_low_temp {
    color: var(--color-text-info);
    span:first-child {
      margin-right: 5px;
    }
  }

  .other_info {
    display: flex;
    justify-content: space-between;
    color: var(--color-text-sub);

    .other_info_right {
      flex: 1;
      display: flex;
      justify-content: space-evenly;

      span {
        // flex: 1;
        display: block;
        text-align: right;
      }
    }
  }
}

@media screen and (max-width: 870px) {
  .weather_container {
    // font-size: 14px;
    position: relative;

    .today_temp {
      font-size: 56px;
      line-height: 56px;
    }
    .other_info {
      position: relative;

      .other_info_right {
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        top: -43px;
        right: 0;
        span {
          display: block;
          text-align: right;
        }
      }

      .other_info_left {
        display: flex;
        align-items: flex-end;
      }
    }
  }
}
