.history_wrapper {
  background-color: var(--color-history-bg);
  border-radius: 24px;
  padding: 23px 26px;
  margin-top: 26px;
  // font-size: 16px;
  // line-height: 22px;
  flex: 1;

  .title {
    margin-bottom: 26px;
    color:var(--color-text-info);
  }
}

@media screen and (max-width: 870px) {
  .history_wrapper {
    border-radius: 24px;
    padding: 20px;
    margin-top: 20px;
  }
}
