.search_wrapper {
  display: flex;
  justify-content: space-between;

  .input_wrapper {
    flex: 1;
    margin-right: 20px;
    position: relative;
    background-color: var(--color-input-bg);
    border-radius: 20px;
    padding: 7px 22px 0 22px;
    height: 60px;

    .label {
      position: absolute;
      color: var(--color-input-lable);
      left: 22px;
      top: 3px;
    }

    .input_field {
      height: 60px;
      border: none;
      outline: none;
      background-color: transparent;
      width: 100%;
      font-size: 16px;
      line-height: 22px;
      color:var(--color-text-info);
    }
  }
}

@media screen and (max-width: 870px) {
  .search_wrapper {
    .input_wrapper {
      height: 40px;
      padding: 7px 11px;
      border-radius: 8px;
      margin-right: 10px;

      .label {
        font-size: 10px;
        left: 11px;
      }

      .input_field {
        height: 40px;
        width: 100%;
        font-size: 12px;
      }
    }

    .search_icon{
      height: 40px;
      width: 40px;
      border-radius: 8px;
      font-size: 24px;
    }
  }
}
