.container {
  display: flex;
  justify-content: space-between;

  .input_container {
    flex: 1;
    margin-right: 20px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 7px 22px 0 22px;
    height: 60px;

    .label {
      position: absolute;
      color: rgba(0, 0, 0, 0.4);
      left: 22px;
      top: 3px
    }

    .input_field {
      height: 60px;
      border: none;
      outline: none;
      background-color: transparent;
      width: 100%;
      font-size: 16px;
      line-height: 22px;
    }
  }
}