// .icon_button_wrapper{
//   display: 'inline-block';
  .icon_button {
    height: 60px;
    width: 60px;
    border-radius: 20px;
    background-color: var(--color-btn-primary-bg);
    padding: 13px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;

    &.icon_button_sm{
      height: 34px;
      width: 34px;
      padding: 9px;
      font-size: 20px;

    }

    &.is_circle{
      border-radius: 50%;
    }  


    >span {
      color:var(--color-icon-text);
    }

    &.is_light{
      background-color: var(--color-icon);
      border: solid 2px var(--color-btn-border);
      >span {
        color:var(--color-text-sub);
      }
    }
  }  


