:root .dark {
  --color-btn-primary-bg:rgba(26, 26, 26, 0.5);
  --color-input-bg: rgba(26, 26, 26, 0.5);
  --color-main-bg:rgba(26, 26, 26, 0.3);
  --color-history-bg:rgba(26, 26, 26, 0.3);
  --color-history-item-bg:rgba(26, 26, 26, 0.5);
  --color-text-main:#ffffff;
  --color-text-sub:#ffffff;
  --color-text-info:#ffffff;
  --color-icon-bg:#ffffff;
  --color-icon-text:#ffffff;
  --color-input-lable:rgba(255, 255, 255, 0.4);
  --color-btn-border:rgba(255, 255, 255, 0.4);
  --color-dropdown-bg:rgba(26, 26, 26, 0.3);
}