:root .light {
  --color-btn-primary-bg:#6C40B5;
  --color-input-bg: rgba(255, 255, 255, 0.2);
  --color-main-bg:rgba(255, 255, 255, 0.2);
  --color-history-bg:rgba(255, 255, 255, 0.2);
  --color-history-item-bg:rgba(255, 255, 255, 0.4);
  --color-text-main:#6C40B5;
  --color-text-sub:#666666;
  --color-text-info:#000000;
  --color-icon:#ffffff;
  --color-icon-text:#ffffff;
  --color-input-lable:rgba(0, 0, 0, 0.4);
  --color-btn-border:#ffffff;
  --color-dropdown-bg:rgba(255, 255, 255, 0.2);

}